* {
    margin: 0;
    padding: 0%;
}

#titulo {
    font-family: sans-serif;
    color: #000000;
    margin-left: -3%;
}

#subtitulo {
    font-family: sans-serif;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body {
    background-color: rgb(230, 53, 53);
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}

fieldset {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"] .campo input[type="email"] .campo select .campo textarea {
    padding: 0.2em;
    border: 1px solid rgb(0.2, 0.2, 0.2);
    box-shadow: 2px 2px 2px black;
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #ffbfbf;
}

.botão {
    font-size: 1.2em;
    background: #fbff02;
    border: 0;
    margin-bottom: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #bfc218;
    text-shadow: 1px 1px 1px #240000;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botão:hover {
    background: rgb(193, 203, 8);
    box-shadow: inset 2px 2px 2px rgb(95, 100, 5);
    text-shadow: none;
}